.luck{
    background-color: 
    #18A558;
}
.pero p{
    font-size: 2rem;
    align-content: center;
    font-family: 'Unna', serif;
}

.pero h1{
    font-family: 'Nabla', cursive;
    font-size: 5rem;
}